# Python bytecode
__pycache__/
*.py[cod]
*.pyc

# Virtual environments (if you create one later)
.venv/
venv/
env/

# Environment variables
.env

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db

#database password 
.env